h1{
font-size: 30px;
text-align: center;
color: darkblue
}

p{
font-size: 20px;
text-align: center;
font-family: Helvetica, sans-serif;
}

body {
text-align: center;
background-color: background-color: teal;
  color: darkblue;
}